*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
}
.article_container{
         
            width: 100%;
            height: 28em;
           display: flex;
           margin-top: 2em;
            gap: 2em;
            border-radius: 10px;
            box-shadow:1px 2px 20px 5px rgb(95, 94, 94);
           
}
.article_containers{
          margin-top: 1em;
      display: flex;
     flex-direction: column;
           
            
           
           
}
.article_img__box{
  
            width: 30%;
            height: 90%;
            border-radius: 23px;
}
.article_img{
  margin-top: 2em;
            width: 100%;
            height: 100%;
            border-radius: 23px;
}
.aricle_section{
            
            width: 70%;
            height: 90%;
            border-radius: 23px;
            margin-left: 1em;
            padding: 1em;
}
.article_title{
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: .5em;
}
.article_title{
            width: 100%;
            height: 15%;
          
}
.article_title__text{
  font-size: 1.2em;
            font-weight: bold;
            margin-bottom: .5em;
             overflow: hidden;
}
.article_content{
            margin-top: 40px;
            width: 100%;
            height: 13em;
             overflow: hidden;
}
.article_content__text{
            font-size: 1em;
            font-weight: bold;
            overflow: hidden;
}
.article_more{
            margin-top: 12px;
            width: 100%;
            height: 10%;
            display: flex;
            
            align-items: center;
}
.article_like__btn{
            width: 8%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 2em;
            border: none;
            color: black;
            border-radius: 5px;
}
.article_like__btn:hover{
  background-color: rgb(16, 229, 245);
  border-radius: 10px;
}
.article_more span{
  color: aliceblue;
}

.like_count{
            font-size: 1.5em;
            color: whitesmoke;
}