*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
}
.home_container{
            position: absolute;
            width: 100%;
            height: 180em;
            background-color: rgb(17, 12, 82);
            
}